@using Blazor.Diagrams
@using Blazor.Diagrams.Components
@using Blazor.Diagrams.Core.Anchors
@using Blazor.Diagrams.Core.Geometry
@using Blazor.Diagrams.Core.Models
@using Blazor.Diagrams.Core.PathGenerators
@using Blazor.Diagrams.Core.Routers
@using Blazor.Diagrams.Options

@using SmartJournal.Models.ViewModel
@using static SmartJournal.Models.ViewModel.SystemNode

<div class="w-full h-full bg-white cursor-default">

	<CascadingValue Value="Diagram" IsFixed="true">

		<DiagramCanvas></DiagramCanvas>

	</CascadingValue>

</div>

@code {

	private BlazorDiagram? Diagram { get; set; }

	protected override void OnInitialized()
	{
		var opt = new BlazorDiagramOptions();
		opt.AllowPanning = false;
		opt.Zoom.Enabled = false;
		opt.AllowMultiSelection = false;
		opt.Virtualization.Enabled = false;

		Diagram = new BlazorDiagram(opt);

		Diagram.RegisterComponent<SystemNodeModel, SystemNode>();

		var firstNode = Diagram.Nodes.Add(new SystemNodeModel(position: new Point(50, 50))
		{
			Title = "xD"
		});

		var secondNode = Diagram.Nodes.Add(new NodeModel(position: new Point(200, 100))
		{
			Title = "Node 2"
		});

	}
}
