@inherits LayoutComponentBase

<div class="w-screen h-screen bg-zinc-200 flex flex-col">
	
	<div class="w-full h-12 bg-zinc-700 shadow-xl">	
		<div class="text-white text-xl font-mono font-medium tracking-wider pt-3 pl-3">Smart Journal</div>
	</div>

	<div class="w-full h-full">
		@Body
	</div>

</div>

